/* Global styles */
* {
  box-sizing: border-box;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
  padding: 0;
  background-color: white;
}

a {
  text-decoration: none;
  color: #222;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 10px;
}

.page-title {
  font-size: 2.5rem;
  margin: 1.5rem;
  text-align: center;
  color: black;
}
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
}

.logo {
  font-size: 2rem;
  font-weight: bold;
}

.navigation ul {
  list-style: none;
  margin: 0;
  padding: 0;
  float: right;
}

.navigation li {
  display: inline-block;
  margin: 0 1rem;
}

.navigation a {
  text-decoration: none;
  color: #333;
}


.row {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.justify-center {
  justify-content: center;
}

.card-column {
  margin: 1rem;
  width: 300px;
  background-color:green;
  background-image: linear-gradient(green,white);
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.2);
  display: flex;
  flex-direction: column;
  padding: 1rem;
  border-style: dashed;
  border-color: black
}

.card:hover {
  cursor: pointer;
}

.card-header {
  background-color: gray;
  border-radius: 8px 8px 8px 8px;
  margin: 0;
  padding: 0.5rem;
  text-align: left;
  color: black;
  font-size: 20px;
  border-style: solid;
  border-color: white;
  position: relative;
  top: -40px;
}

.card-body{
  color: black;

}

.code-block {
  background-color: black;
  background-image: linear-gradient(gray,purple);
  border-radius: 8px 8px 8px 8px;
  margin: 0;
  padding: 1rem;
  
}

/* Code block styles */
pre {
  white-space: pre-wrap;
  font-family: monospace;
  font-size: 14px;
  line-height: 1.2;
  color: white;
  
}

pre code {
  display: block;
  padding: 0.5rem;
}

pre code span {
  color: #008080;
}

/* Footer styles */
footer {
  background-color: gray;
  padding: 1rem;
  text-align:center;
  position:relative;
  bottom: 0;
  width: 100%;
  color: purple;
}
