*{
  margin: auto;
}
h1 {
  font-size: 36px;
  font-weight: bold;
  line-height: 1.2;
  margin-bottom: 20px;
}
nav {
  background-color: #333;
  color: #fff;
  display: flex;
  justify-content: flex-end;
}
.nav-list {
  list-style-type: none; 
}

.nav-list li {
  position: relative; 
}

.nav-list li:before {
  content: "\2022"; 
  position: absolute; 
  left: -1.5em; 
}

nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
}

nav li {
  margin: 0 10px;
}

nav a {
  color: #fff;
  text-decoration: none;
  padding: 10px;
  display: block;
  transition: all 0.3s ease-in-out;
}

nav a:hover {
  background-color: #fff;
  color: #333;
}

section h2 {
  text-align: center;
}

/* Media queries for responsive web design */
@media screen and (min-width: 576px ){
  section h2 {
    text-align: start;
  }
  
  footer {
      background-color: pink;
      text-align: center;
  }
}